.tbl-add-remove-wrap{ width: auto;}
.tbl-add-remove-wrap tbody { border-top: none;}
.tbl-add-remove-wrap select{width: 220px;}
.tbl-add-remove-wrap .add{ padding-bottom: 8px;}
.tbl-add-remove-wrap .form-item{ margin: 0;}

