#member-container-wapper {
  width: 100%;
  clear: both;
  float: left; 
}
#member-container-wapper select {
  width: 240px;
  height: 150px;
}
#member-container-wapper .form-item {
  float: left;
  margin: 0;
  padding: 0 5px 0 0;
}
#member-container-wapper .form-actions {
  float: left;
  width: 70px;
  padding: 0 5px 0 0;
  text-align: center;
}
#member-container-wapper .form-actions input {
  margin: 3px auto;
}
